<!DOCTYPE html>
<html>
<head>
  <title>Main</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/static/css/layout.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/fontawesome-all.min.css" />
</head>
<body>
  <nav class="navbar">
    <img src="/static/images/logo.png" class="logo">
    <a href="#">About</a>
    <a href="/user">Edit profile</a>
    <a href="/logout">Sign out</a>
    <i class="fas fa-search search"></i>
    <div class="menu-icon-top"></div>
    <div class="menu-icon-middle"></div>
    <div class="menu-icon-bottom"></div>
  </nav>
  <hr class="nav-separator">
  <section class="main">
    <header>
      <p>Web design</p>
    </header>
    <main>
      <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
        ut fermentum massa justo sit amet risus
      </p>
    </main>
  </section>
  <section>
    <button class="really-button">Really?</button>
  </section>
  <section>
    <button class="play-button">
    </button>
  </section>
  <section class="smaller block-1">
    <header class="smaller-block-header">
      Amet condimentum
    </header>
    <main class="smaller-block-content">
      Dolor
    </main>
  </section>
  <section class="smaller block-2">
    <header class="smaller-block-header">
      Lorem cursus
    </header>
    <main class="smaller-block-content">
      Ligula
    </main>
  </section>
  <section class="smaller block-3">
    <header class="smaller-block-header">
      Condimentum Ultricies
    </header>
    <main class="smaller-block-content">
      Consetectur
    </main>
  </section>
  <section class="smaller block-4">
    <header class="smaller-block-header">
      Ridiculus ornare
    </header>
    <main class="smaller-block-content">
      Ullamcorper
    </main>
  </section>
</body>
</html>
