<!DOCTYPE html>
<html>
<head>
  <title>Main</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/static/css/layout.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/fontawesome-all.min.css" />
</head>
<body>
  <% include ./partials/_nav.html %>

  <section class="main">
    <header>
      <p>Web design</p>
    </header>
    <main>
      <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
        ut fermentum massa justo sit amet risus
      </p>
    </main>
  </section>

  <section class="really-button-section">
    <hr class="really-button-cross-line red-line">
    <button class="really-button">Really?</button>
  </section>

  <section>
    <hr class="red-line vertical-left">
    <hr class="red-line vertical-right">
  </section>

  <section>
    <button class="play-button">
      <img src="/static/images/play-icon.png" class="play-icon">
    </button>
  </section>

  <section class="smaller block-1">
    <header class="smaller-block-header">
      Amet condimentum
    </header>
    <main class="smaller-block-content">
      Dolor
    </main>
  </section>

  <section class="smaller block-2">
    <header class="smaller-block-header">
      Lorem cursus
    </header>
    <main class="smaller-block-content">
      Ligula
    </main>
  </section>

  <section class="smaller block-3">
    <header class="smaller-block-header">
      Condimentum Ultricies
    </header>
    <main class="smaller-block-content">
      Consetectur
    </main>
  </section>

  <section class="smaller block-4">
    <header class="smaller-block-header">
      Ridiculus ornare
    </header>
    <main class="smaller-block-content">
      Ullamcorper
    </main>
  </section>

  <section class="footer-block follow-us">
    <header class="footer-block-header">
      Follow us
    </header>
    <main class="footer-block-content">
      <li>
        <ul>Twitter</ul>
        <ul>Facebook</ul>
        <ul>Linkedin</ul>
        <ul>Pinerest</ul>
        <ul>YouTube</ul>
      </li>
    </main>
  </section>

  <section class="footer-block get-to-know-us">
    <header class="footer-block-header">
      Get to know us
    </header>
    <main class="footer-block-content">
      <li>
        <ul>About</ul>
        <ul>Policies</ul>
        <ul>Careers</ul>
        <ul>Press</ul>
        <ul>Developers</ul>
      </li>
    </main>
  </section>

  <section class="footer-block locations">
    <header class="footer-block-header">
      Locations
    </header>
    <main class="footer-block-content">
      <li>
        <ul>Detroit</ul>
        <ul>London</ul>
        <ul>Florida</ul>
        <ul>Las Vegas</ul>
        <ul>California</ul>
      </li>
    </main>
  </section>

  <section class="footer-block our-mission">
    <header class="footer-block-header">
      Our mission
    </header>
    <main class="footer-block-content">
      Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod. Aenean eu leo quam.
    </main>
  </section>

  <footer class="footer">
    <p>Copyright &copy; 2018</p>
  </footer>
</body>
</html>
