<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body>
  <section class="login-page">
    <main class="form">
      <form method="POST">
        <input type="text" name="username" placeholder="username"><br>
        <input type="password" name="password" placeholder="password"><br>
        <input type="submit" value="Login">
        <p class="tip">Not registered? <a href="/signup">Create an account</a></p>
      </form>
    </main>
  </section>
  <hr><%= msg %>
</body>
</html>
