<!DOCTYPE html>
<html ng-app="usersApp" ng-controller="userCtrl" ng-init="init()">
<head>
  <title>User profile</title>
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body>
  <div class="form-container">
    <p class="form-header">Profile</p>
    <form method="POST" action="/user/update">
      <label>Username:</label>
      <input type="text" name="username" ng-model="user.username" disabled><br>
      <label>Email:</label>
      <input type="email" name="email" ng-model="user.email"><br>
      <label>Favorite color:</label>
      <input type="text" name="color" ng-model="user.color"><br>
      <input type="submit" value="Save changes">
    </form>
  </div>
  <form method="POST" action="/user/delete">
    <input type="submit" value="Delete">
  </form>
  <hr><%= msg %>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="/static/js/userController.js"></script>
</body>
</html>
