<!DOCTYPE html>
<html>
<head>
  <title>Registration</title>
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body>
  <div class="form-container">
    <p class="form-header">Register new account</p>
    <form method="POST">
      <label>Username:</label>
      <input type="text" name="username"><br>
      <label>Password:</label>
      <input type="password" name="password"><br>
      <label>Email:</label>
      <input type="email" name="email"><br>
      <input type="submit" value="Sign up!">
    </form>
  </div>
  <hr><%= msg %>
</body>
</html>
