<!DOCTYPE html>
<html>
<head>
  <title>Registration</title>
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
</head>
<body>
  <section class="register-page">
    <main class="form">
      <form method="POST">
        <input type="text" name="username" placeholder="username"><br>
        <input type="password" name="password" placeholder="password"><br>
        <input type="email" name="email" placeholder="email"><br>
        <input type="submit" value="Sign up!">
        <p class="tip">Already registered? <a href="/login">Sign in</a></p>
      </form>
    </main>
  </section>
  <hr>
  <% include ./partials/_alert.html %>
</body>
</html>
