@font-face {
  font-family: 'Montserrat';
  src: url('./../../static/webfonts/montserrat-regular.otf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('./../../static/webfonts/montserrat-bold.otf');
  font-style: bold;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('./../../static/webfonts/playfairdisplay-regular.otf');
}

body {
  margin: 0px;
  padding: 0px;
  background-image: url("/static/images/background.png");
  background-repeat: no-repeat;
  width: 1920px;
  height: 1280px;
}

.logo {
  position: absolute;
  top: 78px;
  left: 98px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: rgba(0, 227, 254, 0);
}

.navbar {
  display: block;
  margin-top: 92px;
  margin-left: auto;
  margin-right: auto;
  height: 11px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

.navbar a {
  color: #FFFFFF;
  text-decoration: none;
  padding: 25px;
}

.search {
  display: block;
  position: absolute;
  top: 86px;
  left: 1725px;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

.menu-icon-top {
  display: block;
  position: absolute;
  top: 86px;
  left: 1786px;
  width: 34px;
  height: 3px;
  background-color: #FFFFFF;
}

.menu-icon-middle {
  display: block;
  position: absolute;
  top: 96px;
  left: 1790px;
  width: 30px;
  height: 3px;
  background-color: #FFFFFF;
}

.menu-icon-bottom {
  display: block;
  position: absolute;
  top: 104px;
  left: 1786px;
  width: 34px;
  height: 3px;
  background-color: #FFFFFF;
}

hr.nav-separator {
  position: absolute;
  top: 194px;
  left: 100px;
  background-color: rgba(255, 255, 255, 0.24);
  width: 1721px;
  height: 1px;
  border: 0;
}

header p {
  margin: 0px;
  position: absolute;
  top: 456px;
  left: 599px;
  font-family: 'PlayfairDisplay', sans-serif;
  font-size: 140px;
  font-weight: 400;
  color: #FFFFFF;
  text-align: center;
}

main p {
  position: absolute;
  top: 613px;
  left: 689px;
  max-width: 543px;
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 300;
  line-height: 34px;
  text-align: center;
}

.really-button-section {
  position: absolute;
  top: 798px;
  left: 882px;
}

.really-button {
  width: 163px;
  height: 46px;
  background-color: #da7074;
  border: none;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.red-line {
  background-color: #DA7074;
  border: 0;
}

.really-button-cross-line {
  position: relative;
  top: 30px;
  z-index: -1;
  left: -146px;
  width: 449px;
  height: 1px;
}

.vertical-left {
  position: absolute;
  top: 913px;
  left: 958px;
  height: 190px;
  width: 1px;
}

.vertical-right {
  position: absolute;
  top: 933px;
  left: 963px;
  height: 190px;
  width: 1px;
}

.play-button {
  position: absolute;
  top: 1156px;
  left: 919px;
  width: 82px;
  height: 82px;
  outline: 1px solid rgba(0, 227, 254, 0);
  border-radius: 50%;
  background-color: transparent;
}

.play-icon {
  align-items: center;
}

.smaller {
  position: absolute;
  top: 1280px;
  width: 480px;
  height: 500px;
}

.block-1 {
  left: 0px;
  background-image: url("/static/images/smaller-block-background-1.png");
}

.block-2 {
  left: 480px;
  background-image: url("/static/images/smaller-block-background-2.png");
}

.block-3 {
  left: 960px;
  background-image: url("/static/images/smaller-block-background-3.png");
}

.block-4 {
  left: 1440px;
  background-image: url("/static/images/smaller-block-background-4.png");
}

.smaller-block-header {
  position: relative;
  top: 346px;
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.smaller-block-content {
  position: relative;
  top: 346px;
  font-family: "Georgia", sans-serif;
  color: #FFFFFF;
  font-size: 18px;
  font-style: italic;
  line-height: 30px;
  text-align: center;
}

.footer-block {
  position: absolute;
  top: 1895px;
}

.follow-us {
  left: 197px;
  width: 97px;
  height: 167px;
}

.get-to-know-us {
  left: 559px;
  width: 144px;
  height: 169px;
}

.locations {
  left: 970px;
  width: 95px;
  height: 169px;
}

.our-mission {
  left: 1357px;
  width: 365px;
  height: 169px;
}

.footer-block-header {
  margin-bottom: 28px;
  color: #141515;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  text-transform: uppercase;
}

.footer-block-content {
  color: #565656;
  font-family: "Georgia", sans-serif;
  font-size: 14px;
  font-style: italic;
  line-height: 26px;
  text-align: left;
}

main.footer-block-content li {
  list-style-type: none;
}

main.footer-block-content li ul {
  padding-left: 0px;
  margin: 0px;
}

.footer {
  position: absolute;
  top: 2184px;
  width: 1920px;
  height: 96px;
  background-color: #000000;
}

.footer p {
  margin: 0;
  position: relative;
  top: 42px;
  color: #FFFFFF;
  font-family: "Georgia", sans-serif;
  font-size: 12px;
  font-style: italic;
  line-height: 24px;
  text-align: center;
}
