@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

body {
  font-family: "Lato", sans-serif;
  background-color: #76B852;
}

.navbar {
  position: sticky;
  top: 5px;
  background-color: #333333;
}

.navbar a {
  display: inline-block;
  padding: 14px;
  color: #F2F2F2;
  text-align: center;
  text-decoration: none;
}

.navbar a:hover {
  color: #333333;
  background-color: #F2F2F2;
}

.login-page, .register-page {
  width: 360px;
  padding: 8% 0 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: auto;
  padding: 45px;
  text-align: center;
}

.form input {
  outline: 0;
  background: #F2F2F2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form input[type=submit] {
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}

.form input[type=submit]:hover {
  background: #43A047;
}

.form .tip {
  margin: 15px 0 0;
  color: #B3B3B3;
  font-size: 12px;
}

.form .tip a {
  color: #4CAF50;
  text-decoration: none;
}

.form .tip a:hover {
  color: #43A047;
  text-decoration: underline;
}

.alert {
  display: inline-block;
  padding: 20px;
  background-color: #D1ECF1;
  color: #0C5460;
}

.close-alert-btn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  line-height: 20px;
  cursor: pointer;
}

.close-alert-btn:hover {
  color: #000000;
}
