.navbar {
  position: sticky;
  top: 5px;
  background-color: #333333;
}

.navbar a {
  display: inline-block;
  padding: 14px;
  color: #F2F2F2;
  text-align: center;
  text-decoration: none;
}

.navbar a:hover {
  color: #333333;
  background-color: #F2F2F2;
}

div.form-container {
  display: inline-block;
  border: 4px ridge blue;
  width: 280px;
  border-radius: 10px;
  margin: 10px;
}

p.form-header {
  margin: 0px;
  font: 24px bold;
  color: white;
  background: blue;
  text-align: center;
}

form {
  margin: 10px;
}

label {
  width: 80px;
  display: inline-block;
}

input {
  border: 3px ridge blue;
  border-radius: 5px;
  padding: 3px;
}

input[type=submit] {
  font: 18px bold;
  width: 120px;
  color: white;
  background: blue;
  margin-top: 15px;
  margin-left: 85px;
}
